.navbar
    display: block
    width: 100%
    padding: 25px 0 0 0
    background-color: $brand-primary

.topnav
    display: flex
    list-style: none
    padding-left: 0
    justify-content: space-around
    margin-bottom: 0

.navlink
    font-size: 24px
    a
        color: $brand-secondary
        text-decoration: none
        @include hover
            color: #ff0000

.dropdownlink
    @extend .navlink

path
    fill: #a9a9a9
    fill-opacity: 1