body {
    background: #d4b9b9;
}

header div h1 {
    color: #ffffff;
    background: linear-gradient(#539be2, #2c703d);
    border-radius: 10px;
    box-shadow: 0 0 5px #000000;
    text-align: center;
    max-width: 50%;
    margin: auto;
}

nav.navBar ul {
    background-color: #a9a9a9;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: left;
}

nav.navBar li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666666;
}