/* DEFAULT */

body {
    background: linear-gradient(#539be2, #fdf394);
    background-attachment: fixed;
    margin: 0;
}

nav {
    display: block;
    width: 100%;
    margin: 0;
    top: 0;
}

div.header h1 {
    display: block;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

/* NAV BAR */

ul.navBar {
    display: block;
    background-color: #d3d0d0;
    overflow: hidden;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
}

ul.navBar li {
    list-style: none;
    float: left;
}

ul.navBar li a {
    display: block;
    line-height: 1.2;
    color: #666666;
    min-height: 16px;
    padding: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

ul.navBar li a:hover {
    background-color: #81abff;
    color: #ffffff;
}

ul.navBar li.nav-right {
    float: right;
}

ul.navBar li.dropdownIcon {
    display: none;
}

/* CUSTOM STYLES */

iframe {
    display: block;
    margin: auto;
}

/* PHONE SCREENS */

@media screen and (max-width: 700px) {
    ul.navBar li:not(:nth-child(1)) {
        display: none;
    }

    ul.navBar li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.navBar.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.navBar.responsive {
        position: relative;
    }

    ul.navBar.responsive li {
        display: inline;
        float: none;
    }

    ul.navBar.responsive li a {
        display: block;
        text-align: left;
    }
}