.column-1 {
    width: 12.5%;
}

.column-2 {
    width: 25%;
}

.column-3 {
    width: 37.5%;
}

.column-4 {
    width: 50%;
}

.column-5 {
    width: 62.5%;
}

.column-6 {
    width: 75%;
}

.column-7 {
    width: 87.5%;
}

.column-8 {
    width: 100%;
}

body {
    background: #a9a9a9;
}

.navbar {
    display: block;
    background-color: white;
    padding-top: 20px;
}

.topnav {
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: space-around;
}

.navlink a {
    text-decoration: none;
    font-family: Verdana;
    color: black;
}

.profile-container {
    margin: 40px;
    border: 1px solid #666666;
    background-color: white;
}

.profile-image {
    background-color: #d4d4d4;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 25px auto;
}

.profile-message {
    padding: 10px;
}

.post-container {
    margin: 40px 10px;
}

.post {
    border: solid 1px #666666;
    margin-bottom: 35px;
    display: block;
    padding: 15px;
    background-color: white;
}

.footer-container {
    background-color: white;
    padding: 25px 0 0 25px;
    font-weight: 700;
}