html
    min-height: 100%

body
    margin: 0
    font-family: Tahoma, Geneva, sans-serif
    background: $white
    //background: repeating-linear-gradient(45deg, $brand-primary, $brand-primary 120px, $brand-secondary 120px, $brand-secondary 130px)